{% extends 'layouts/base_login.html.twig' %}
{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
    <div class="w-100 d-flex row justify-content-center">
        <div class="col-6">
            <div class="card mt-50">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="text-center">Cambiar contraseña</h3>
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ path('app_change_password_process', {'code': code|url_encode|url_encode }) }}" method="post">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('change-password') }}"
                        >

                        <input type="hidden" name="code" value="{{ code }}">

                        {% for label, messages in app.flashes %}

                            {% set alertColor = '' %}
                            {% set alertIcon = '' %}
                            {% set alertTitle = '' %}

                            {% if label == 'success' %}
                                {% set alertColor = 'success' %}
                            {% elseif label == 'error' %}
                                {% set alertColor = 'danger' %}
                            {% elseif label == 'warning' %}
                                {% set alertColor = 'warning' %}
                            {% endif %}

                            <div class="alert alert-{{ alertColor }}">{{ messages|join('<br>')|raw }}</div>
                        {% endfor %}

                        <div class="form-group form-group-default">
                            <label>Nueva Contraseña</label>
                            <input name="password" type="password" class="form-control" placeholder="Nueva Contraseña" required>
                        </div>

                        <div class="form-group form-group-default">
                            <label>Repetir Nueva Contraseña</label>
                            <input name="re-password" type="password" class="form-control" placeholder="Nueva Contraseña" required>
                        </div>


                        <button class="w-100 btn btn-primary">Cambiar contraseña</button>


                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}