{% extends 'layouts/base.html.twig' %}

{% block title %}Ver Incidencia{% endblock %}

{% block page_title %}Ver Incidencia{% endblock %}

{% block breadcrums %}
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_tickets_list') }}">Incidencias</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Ver Incidencia</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="col-12 row ms-0 me-0 mb-2">
        <div class="col-6 ">
        </div>

        <div class="col-6 text-end">
            <a href="{{ path('app_tickets_list') }}" class="btn btn-secondary">Listado de Incidencias</a>
            <a href="#" onclick="document.getElementById('change_status_ticket_{{ ticket.id }}_form').submit()" class="btn btn-primary">{% if ticket.closed %}Reabrir{% else %}Cerrar{% endif %} Incidencia</a>
            <a href="{{ path('app_tickets_render_edit', {'id': ticket.id}) }}" class="btn btn-primary">Editar Incidencia</a>
        </div>

        <form id="change_status_ticket_{{ ticket.id }}_form" method="post" action="{{ path('app_tickets_change_status', {'id': ticket.id}) }}" class="d-none">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('change-status-ticket') }}">
            <input type="hidden" name="closed" value="{{ ticket.closed ? 0 : 1 }}">
        </form>
    </div>

    <div class="card card-flush w-100">

        <!--begin::Card body-->
        <div class="card-body row">

            <div class="col-12 mb-3">
                <label>Estado <span class="text-danger">*</span></label><br>
                <span class="badge badge-{% if ticket.closed %}secondary{% else %}success{% endif%} fw-bold px-4 py-3">{% if ticket.closed %}Cerrada{% else %}Abierta{% endif%}</span>
            </div>

            <div class="col-12 mb-3">
                <label>Título <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="title" placeholder="Título de la incidencia" value="{{ ticket.title }}" autocomplete="off" required readonly>
                {% include 'extra/error-message.html.twig' with {'name': 'title'} %}
            </div>

            <div class="col-12 mb-3">
                <label>Descripción de Incidencia <span class="text-danger">*</span></label>
                <textarea class="form-control overflow-hidden" id="description-input" name="description" contenteditable placeholder="Incidencia" autocomplete="off" readonly required >{{ ticket.description }}</textarea>
                {% include 'extra/error-message.html.twig' with {'name': 'description'} %}
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        //domcontentload function vanilla js
        document.addEventListener('DOMContentLoaded', function() {
            changeHeight(document.getElementById('description-input'));
        });

        function changeHeight(element){
            element.style.setProperty("height",  element.scrollHeight+'px', "important")
        }

    </script>
{% endblock %}