{% extends 'layouts/base.html.twig' %}

{% block title %}Crear Usuario{% endblock %}

{% block page_title %}Crear Usuario{% endblock %}

{% block breadcrums %}
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_users_list') }}">Usuarios</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Crear Usuario</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="col-12 row ms-0 me-0 mb-2">
        <div class="col-6 ">
        </div>

        <div class="col-6 text-end">
            <a href="{{ path('app_users_list') }}" class="btn btn-secondary">Listado de Usuarios</a>
        </div>
    </div>

    <div class="card card-flush w-100">
        <form action="{{ path('app_users_process_new') }}" method="post">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create-user') }}">
            <!--begin::Card body-->
            <div class="card-body row">

                <div class="col-6 mb-3">
                    <label>Usuario <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="username" placeholder="Usuario" autocomplete="off" required>
                    {% include 'extra/error-message.html.twig' with {'name': 'username'} %}
                </div>
                <div class="col-6 mb-3">
                    <label>Correo Electrónico <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" autocomplete="off" required>
                    {% include 'extra/error-message.html.twig' with {'name': 'email'} %}
                </div>
                <div class="col-6 mb-3">
                    <label>Contraseña <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" autocomplete="off" required>
                    {% include 'extra/error-message.html.twig' with {'name': 'password'} %}
                </div>
                <div class="col-6 mb-3">
                    <label>Repetir Contraseña <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="re-password" placeholder="Repetir Contraseña" autocomplete="off" required>
                    {% include 'extra/error-message.html.twig' with {'name': 're-password'} %}
                </div>

                <div class="col-4 mb-3">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name" placeholder="Nombre" autocomplete="off">
                    {% include 'extra/error-message.html.twig' with {'name': 'name'} %}
                </div>

                <div class="col-4 mb-3">
                    <label>Primer apellido</label>
                    <input type="text" class="form-control" name="surname1" placeholder="Primer Apellido" autocomplete="off">
                    {% include 'extra/error-message.html.twig' with {'name': 'surname1'} %}
                </div>

                <div class="col-4 mb-3">
                    <label>Segundo apellido</label>
                    <input type="text" class="form-control" name="surname2" placeholder="Segundo Apellido" autocomplete="off">
                    {% include 'extra/error-message.html.twig' with {'name': 'surname2'} %}
                </div>

                <div class="col-6 mb-3">
                    <label>Roles <span class="text-danger">*</span></label>
                    <select class="form-control" name="roles[]" data-control="select2" multiple required>
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.label }}</option>
                        {% endfor %}
                    </select>
                    {% include 'extra/error-message.html.twig' with {'name': 'roles'} %}
                </div>

            </div>
            <!--end::Card body-->

            <div class="card-footer d-flex justify-content-end text-end">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>

{% endblock %}